<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="JJTZZXDB" connectionString="data source=localhost;initial catalog=JJTZZXDB;persist security info=True;user id=sa;password=sa123;max pool size=512;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="Project" connectionString="data source=localhost;initial catalog=MF_Project;persist security info=True;user id=sa;password=sa123;max pool size=512;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="Base" connectionString="data source=localhost;initial catalog=MF_Base;persist security info=True;user id=sa;password=sa123;max pool size=512;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="WorkFlow" connectionString="data source=localhost;initial catalog=MF_WorkFlow;persist security info=True;user id=sa;password=sa123;max pool size=512;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--平台标题-->
    <add key="AppTitle" value="MFFrameWorkV1.0" />
    <!--是否开启codefirst模式-->
    <add key="CodeFirstEnabled" value="true" />
    <!--pdf限制上传1M-->
    <add key="maxFileLength_KB" value="10240" />
    <!--文档保存的相对路径-->
    <add key="FileStorePath" value="/UpLoad/" />
    <!--文档保存的相对路径-->
    <add key="FileIndexPath" value="/UpLoad/FileIndex" />
    <!--附件限制上传格式-->
    <add key="FileTypeAccept" value=".jpej,.jpg,.png,.gif,.doc,.docx,.pdf" />
    <!--调试模式(exception会详细展现)-->
    <add key="IsDebug" value="true" />
    <!--是否启用分布式事务-->
    <!-- 开启msdtc服务的步骤： cmd命令→net start msdtc-->
    <add key="UseMsdtc" value="False" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"></compilation>
    <machineKey validationKey="A0A1A45EDF72F7CFB1BC8E28851D57EEBFE51380" decryptionKey="D4549ABE5034B6EBFA8E110593387D9E5C72227C276F1DEA" decryption="3DES" validation="SHA1" />
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/AutoUI/Login" protection="Validation" timeout="200" slidingExpiration="true"></forms>
    </authentication>
    <sessionState mode="InProc" timeout="20" cookieless="false"></sessionState>
    <authorization>
      <allow users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="2147483647" maxUrlLength="2097151" executionTimeout="36000" maxQueryStringLength="2097151" />
    <pages validateRequest="false">
    </pages>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <location path="crossdomain.xml">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
  <location path="clientaccesspolicy.xml">
    <system.webServer>
      <httpRedirect enabled="false" />
    </system.webServer>
  </location>
  <system.webServer>
    <httpRedirect enabled="true" destination="/AutoUI/Login" exactDestination="true" childOnly="true" />
    <!--以下配置为了让IIS7+支持Put/Delete方法-->
    <httpProtocol>
      <customHeaders>
        <!--IE=EmulateIE8  IE=Edge,chrome=1-->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
    <!--IIS7/7.5上必须加这个配置,否则访问报错-->
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="51200" maxUrl="2097151" />
        <verbs>
        </verbs>
      </requestFiltering>
    </security>
    <handlers>
      <!-- 在线Office的默认处理程序，封装了点聚的WebOffice(需要IIS里匿名登陆去掉)  -->
      <add name="WebOfficeHandler" verb="*" path="WebOffice.axd" type="WebOffice.Logic.WebOfficeHandler,WebOffice.Logic" />
      <!-- 脚本打包  -->
      <add name="HttpCombiner" verb="*" path="HttpCombiner.axd" type="WebOffice.Logic.HttpCombiner,WebOffice.Logic" />
    </handlers>
    <staticContent>
      <!-- IIS里如果配置了同样的mimeMap会报错，所以先移除掉再注册  -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".json" mimeType="application/x-javascript" />
    </staticContent>
  </system.webServer>  
</configuration>